<div class="container" style="max-width: 1500px">
	<div class="row">
		<div class="col-lg-12">
			<div class="page-content" style="background-color: darkviolet; padding:0; margin-top:5px; border-radius: 10px">
				<h2>Salom</h2>
			</div>
		</div>
	</div>
</div>