
<div class="row">
	<div class="col-lg-8" style="width:100%">
		<div class="featured-games header-text" style="height:400px">
			<div class="heading-section">
				<h4><em>Most</em> Popular</h4>
			</div>
			<div class="owl-features owl-carousel">
				<div class="item" style="width:300px">
					<div class="thumb">
						<img src="~/images/featured-01.jpg" alt="">
						<div class="hover-effect">
							<h6>2.4K Streaming</h6>
						</div>
					</div>
					<h4>CS-GO<br><span>249K Downloads</span></h4>
					<ul>
						<li><i class="fa fa-star"></i> 4.8</li>
						<li><i class="fa fa-download"></i> 2.3M</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="most-popular">
	<div class="row">
		<div class="col-lg-12">
			<div class="heading-section">
				<h4>Info</h4>
			</div>
			<div class="row">

				<div class="col-lg-3 col-sm-6" style="margin-right: 50px; margin-left:140px">
					<div class="item">
						<img style="width:30%" src="~/images/content (1).png" alt="">
						<h4 style="margin-left: 30px">Contentlar soni<br><span style="font-size:x-large">33</span></h4>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6" style="margin-right:50px">
					<div class="item">
						<img style="width:30%" src="~/images/content.png" alt="">
						<h4 style="margin-left: 30px">Creatorlar soni<br><span style="font-size:x-large">33</span></h4>
					</div>
				</div>

				<div class="col-lg-3 col-sm-6" style="margin-right: 50px">
					<div class="item">
						<img style="width:30%" src="~/images/group.png" alt="">
						<h4 style="margin-left: 30px">Foydayanuvchilar<br><span style="font-size:x-large">33</span></h4>
					</div>
				</div>

			</div>
		</div>
	</div>
</div>
