
<div class="d-flex flex-row" style="margin-top: 30px; margin-bottom:30px">
    <div class="main-button" style="margin:10px">
        <a href="#">Biznes</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">IT va dasturlash</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">Ta'lim va ilmiy fanlar</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">Marketing</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">San'at</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">Shaxsiy o'sish</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">Politika</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">Ijtimoiy tarmoqlar</a>
    </div>
    <div class="main-button" style="margin:10px">
        <a href="#">Boshqalar</a>
    </div>
</div>

<div class="row" style="background-color: #1f2122; border-radius: 15px">
    <div class="col-lg-12">
        <div class="clips">
            <div class="row">
                <div class="col-lg-12">
                    <div class="heading-section">
                        <h4><em>Business</em> Category</h4>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-01.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>First Clip</h4>
                            <span><i class="fa fa-eye"></i> 250</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-02.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>Second Clip</h4>
                            <span><i class="fa fa-eye"></i> 183</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-03.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>Third Clip</h4>
                            <span><i class="fa fa-eye"></i> 141</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-04.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>Fourth Clip</h4>
                            <span><i class="fa fa-eye"></i> 91</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-01.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>First Clip</h4>
                            <span><i class="fa fa-eye"></i> 250</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-02.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>Second Clip</h4>
                            <span><i class="fa fa-eye"></i> 183</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-03.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>Third Clip</h4>
                            <span><i class="fa fa-eye"></i> 141</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="item">
                        <div class="thumb">
                            <img src="~/images/clip-04.jpg" alt="" style="border-radius: 23px;">
                            <a href="https://www.youtube.com/watch?v=r1b03uKWk_M" target="_blank"><i class="fa fa-play"></i></a>
                        </div>
                        <div class="down-content">
                            <h4>Fourth Clip</h4>
                            <span><i class="fa fa-eye"></i> 91</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>