@using EduUp.Service.Dtos.Accounts;
@model AccountRegisterDto
@{
	Layout = "../Accounts/_AccountLayout.cshtml";
}

<div>
	<form asp-area="" asp-controller="accounts" asp-action="register" method="post">
		<div class="row">
			<div class="col-lg-12" >
				<div class="form" style="background-color: #1f2122; width: 35%; margin:0 auto;">
					
					<div class="title">Welcome</div>
					<div class="subtitle">Let's create your account!</div>
					
					<div class="input-container ic1">
						<input asp-for="FullName" id="firstname" class="input" type="text" placeholder=" " />
						<div class="cut"></div>
						<span asp-validation-for="FullName" class="placeholder">Full name</span>
					</div>
				
					<div class="input-container ic2">
						<input asp-for="Email" id="lastname" class="input" type="text" placeholder=" " />
						<div class="cut cut-med"></div>
						<span asp-validation-for="Email" for="lastname" class="placeholder">Email</span>
					</div>
				
					<div class="input-container ic2">
						<input asp-for="Password" id="email" class="input" type="text" placeholder=" " />
						<div class="cut "></div>
						<span asp-validation-for="Password" for="email" class="placeholder">Password</span>
					</div>

					@*<div class="input-container ic2">
						<input id="email" class="input" type="text" placeholder=" " />
						<div class="cut cut-long"></div>
						<label for="email" class="placeholder">Confirm password</label>
					</div>*@
					
					<button type="submit" class="submit">Submit</button><br /><br />
					<div>
						<span class="text subtitle" style="color:#fff;">
							Accountingiz bormi?
								<a class="text" asp-controller="accounts" asp-action="login" style="color:#E75E8D">Kirish</a>
						</span>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>